<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mydemoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDemoapp">
        <activity android:name=".Conclusion_Activity"></activity>
        <activity android:name=".Table_Activity" />
        <activity android:name=".Dinner_Activity" />
        <activity android:name=".Lunch_Activity" />
        <activity android:name=".Breakfast_Activity" />
        <activity android:name=".Content_Activity" />
        <activity android:name=".Signin_Activity" />
        <activity android:name=".signUp_Activity" />
        <activity android:name=".splashscreen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>